section > article {
    display: inline-block;
    width: 30%; 
    height: 3%; 
    margin: 2rem;
    padding: 1rem;
    background-color: #10316b49;
    border-radius: 8px; 
    box-sizing: border-box;
    text-align: center;
}

section {
    text-align: center;
}

section > article:hover {
    background-color: #10316bc2;
}

section a{
    text-decoration: none;
    color: #10316bc2;
}