/* Reset y configuración global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'eb_garamond_bold', sans-serif;
  color: var(--usuario-secondary);
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--usuario-accent);
}

a:hover {
  text-decoration: underline;
}