/* Botones */
button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Colores User -botones*/
.user button{
  border: 2px solid var(--usuario-secondary);
  background-color: var(--usuario-primary);
  color: var(--usuario-secondary);
}
.user button:hover {
  background-color: var(--usuario-secondary);
  color: var(--usuario-primary);
}

/*Colores Admin -botones*/
.admin button{
  border: 2px solid var(--admin-secondary);
  background-color: var(--admin-primary);
  color: var(--admin-secondary);
}
.admin button:hover {
  background-color: var(--admin-secondary);
  color: var(--admin-primary);
}

/* Listas */
ul,
ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/*Listas consulta_ranking*/
.ranking ol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  list-style: none;
}

.ranking li {
  background-color: var(--admin-bg-dark);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.ranking li:nth-child(even) {
  background-color: var(--admin-bg-light);
  color: black;
}

/*Multimedia*/
#audio {
  position: fixed;
  bottom: 50px;
  width: 150px;
  z-index: 10;
}

iframe {
  display: inline-block;
  margin: 5%;
  max-width: 30%;
  height: 30%;
  padding: 0.5em;
  margin-left: 9rem;
}

.estrellas {
  text-align: center;
}

.estrellas img{
  height: 15rem;
  width: 25rem;
}

@media (min-width: 720px) {

  /*Multimedia*/
  #audio {
    position: fixed;
    bottom: 20px;
    width: 150px;
    z-index: 10;
  }

  iframe {
    display: inline-block;
    margin: 5%;
    max-width: 30%;
    height: 30%;
    padding: 0.5em;
    margin-left: 9rem;
  }

  .estrellas img{
    margin-top: 5rem;
  }
}

@media (min-width: 1024px) {

  /*Multimedia*/
  #audio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    z-index: 10;
  }

  iframe {
    display: inline-block;
    margin: 5%;
    max-width: 30%;
    height: 30%;
    padding: 0.5em;
    margin-left: 9rem;
  }

}