main {
    display: grid;
    justify-items: center;
}

main form {
    background-color: var(--usuario-bg-light);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    width: 90%;
    box-shadow: 0 4px 8px rgb(156, 156, 156);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login {
    margin-top: 2em;
    padding: 1em;
    width: 80%;
}

.login form {
    width: 100%;
}

main form fieldset {
    border: none;
    padding: 0;
}

main form legend {
    font-size: 1rem;
    font-weight: bold;
    color: var(--usuario-primary);
    margin-bottom: 1rem;
}

main form input[type="text"],
main form input[type="password"],
main form input[type="email"],
main form select,
main form input[type="date"],
main form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    box-sizing: border-box;
}

main form textarea {
    resize: vertical;
}

main form input[type="submit"] {
    padding: 0.8rem 1rem;
    font-size: 1rem;
    background-color: var(--usuario-primary);
    color: var(--usuario-secondary);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

main form input[type="submit"]:hover {
    background-color: var(--usuario-hover);
    color: var(--usuario-hover-text);
}

main form a {
    text-decoration: none;
    color: var(--usuario-hover);
}

main form a:hover {
    color: var(--usuario-primary);
}

/* Tablet: Formularios */
@media (min-width: 720px) {

    main form .formulario {
        max-width: 50%;
    }

    .login {
        margin-right: 5%;
        justify-content: center;
        align-items: center;
        width: 250px;
        max-width: 400px;
    }

    .login form {
        width: 100%;
        height: 70%;
    }
}

/* Ordenador: Formularios */
@media (min-width: 1024px) {


    .login {
        width: 90%;
    }

    .login form {
        height: 80%;
    }

    main form .formulario {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        max-width: 70%;
    }

    main form fieldset .formulario {
        grid-column: span 2;
    }

    .form-column1,
    .form-column2 {
        width: 100%;
    }
}