/* Tablet */
@media (min-width: 720px) {
  header .menu_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  header .logo {
    display: flex;
    justify-content: flex-start;
  }

  /* Sidebar centrado */
  .menu_nav {
    display: flex;
    flex: 1;
  }

  /* Logout a la izquierda */
  header #logout {
    display: flex;
    justify-content: flex-end;
  }

  /* Ocultar botones de abrir/cerrar sidebar */
  .sidebar-abrir-boton,
  .sidebar-cerrar-boton {
    display: none;
  }

  /* Sidebar en línea */
  .sidebar-nav {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    right: 20px;
    flex-direction: row;
    align-items: center;
  }

  .sidebar-nav ul {
    display: flex;
    flex-direction: row;
    gap: 4em;
  }

  .sidebar-nav ul li ul {
    display: none;
    position: absolute;
    top: 70%;
    left: 10px;
    border-radius: 5px;
    padding: 0.5rem;
    list-style: none;
    min-width: 150px;
  }


  #aside-menu {
    position: fixed;
    padding: 0.5rem;
    width: 5rem;
    top: 25%;
    right: 5rem;
    height: 4rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;
  }


  #aside-menu:hover {
    width: 8rem;
    height: auto;
  }

  #aside-menu img {
    margin: auto;
    width: 100%;
    height: auto;
  }

  #aside-menu h5 {
    font-size: 0.9rem;
    text-align: center;
  }

  #aside-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }


  main {
    grid-template-columns: repeat(2, 1fr);
  }

}

/*Ordenador*/
@media (min-width: 1024px) {

  header nav ul {
    gap: 2em;
  }

  main {
    padding: 4em;
    max-width: auto;
  }

}